<!DOCTYPE html>
<html>
<head>
	<title>Boni html</title>
</head>
<body>
	<h3>{{name}} wellcome back!</h3>
	<img src="/mydog.jpg" height="300" width="200" alt="此圖片已消失" title="這是一隻波波膩">
	<h3>Name: <a href="#boboni" download="mydog.jpg">Bobo</a></h3>
	<ul>
		<li>age: 7.5</li>
		<li>height: 30-40cm</li>
		<li>weight: 14.5-15kg</li>
		<div id="boboni"><li>titok:<a href="https://www.tiktok.com/@yoboboni?" target="_blank"><strong>yoboboni</strong></a></div></li></div>
		<li><a href="/66.html">my dad</a></li>
		<li>phone: <a href="tel:0978610886">call me</a></li>
	</ul>
	<form action="/account" method="POST">
		<p>帳號:<input type="text" name="account" placeholder="6-20個英文及數字"  pattern="[A-Z|a-z|0-9]{6,20}"></p>
		<p>密碼:<input type="password" name="password" placeholder="********" pattern="[A-Z|a-z|0-9]{6,20}"></p>
		<p><input type="radio" name="member" value="generalMember" checked="1">一般會員<input type="radio" name="member" value="topMember">高級會員</p>
		<button type="submit">確認</button>
		<!--<input type="submit" value="確認"><br>-->
	</form>
</body>
</html>